.footer {
    padding: 5rem;
    background: $color-purple;

    &-title {
        @include font-dm(none, none, 2.5rem);
        margin-bottom: 2rem;
        color: $color-white;
    }

    & > div {
        @include flex(row, space-between, none);
    }

    &-reseaux {
        flex: 1;
        color: $color-white;

        &-list {
            @include flex(row, none, none);

            li {
                margin: 0rem 1rem;
                font-size: 1.5rem;
                cursor: pointer;
                transition: all 250ms ease-in;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    form {
        @include flex(column, none, none);
        flex: 1;
        margin: 0rem auto;
        gap: 1rem 0rem;

        div {
            @include flex(row, space-between, center);
            gap: 0rem 1rem;

            input {
                flex: 1;
            }
        }

        input, textarea {
            padding: 0.8rem 1rem;
            border: none;
            border-radius: 5px;
            background: $color-white;
            color: $color-black;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: $color-purple;
            }
        }

        textarea {
            height: 100px;
            resize: none;
        }

        button {
            @include button(1rem, $color-black, $color-hover, none);
            width: 40%;
            margin: 0rem auto;
            border-radius: 5px;
        }
    }
}