.header {
    @include flex(row);

    &-left {
        @include flex(column, space-between, none);
        flex: 1;
        background: $color-purple;

        &-button {
            @include button(.8rem 2rem, $color-hover, $color-purple, none);
            @include font-dm(bold, none, 2rem);
            flex: 1;

            &:hover {
                color: $color-purple;
                background: $color-hover;
            }
        }

        &-modal {
            display: none;
            position: fixed;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;

            form {
                @include flex(column, none, none);
                position: absolute;
                top: 50%;
                left: 50%;
                gap: 1rem 0rem;
                padding: 3rem;
                background: $color-white;
                border-radius: 5px;
                z-index: 5;
                transform: translate(-50%, -50%);

                input {
                    width: 250px;
                    padding: 1rem;
                    border: 2px solid $color-dark-purple;
                    border-radius: 5px;
                    background: $color-white;

                    &:focus {
                        outline: none;
                    }
                }

                button {
                    @include button(.8rem 2rem, none, none, 2px solid $color-dark-purple);

                    &:hover {
                        color: $color-white;
                        background: $color-dark-purple;
                    }
                }
            }
            
            &-bg {
                display: block;
                width: 100%;
                height: 100%;
                background: $color-black;
                opacity: .5;
                z-index: 4;
                cursor: pointer;
            }

            &-active {
                display: block;
            }
        }
    }

    &-right {
        @include flex(row, space-between, none);
        flex: 3.5;
        padding: 3rem 5rem;
        
        & > div {
            @include flex(column, space-around, none);
            flex: 2;
            padding-right: 10rem; 
        }

        &-title {
            @include font-dm(none, none, 2.5rem);
            color: $color-dark-purple;
        }

        &-description {
            line-height: 30px;
            text-align: justify;
        }

        &-link {
            @include button(.8rem 2rem, $color-dark-purple, none, 1px solid $color-dark-purple);
            max-width: 300px;
            text-align: center;
            border-radius: 9999px;

            &:hover {
                color: $color-white;
                background: $color-dark-purple;
            }
        }

        &-img {
            flex: 1;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 10px;
            }
        }
    }
}