.header {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none; }
  .header-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: none;
    flex: 1;
    background: #810955; }
    .header-left-button {
      padding: 0.8rem 2rem;
      color: #FFF9D7;
      background: #810955;
      border: none;
      cursor: pointer;
      transition: all 250ms ease-in;
      font-family: 'DM Serif Display', serif;
      font-size: 2rem;
      font-weight: bold;
      font-style: none;
      flex: 1; }
      .header-left-button:hover {
        color: #810955;
        background: #FFF9D7; }
  .header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: none;
    flex: 3.5;
    padding: 3rem 5rem; }
    .header-right > div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: none;
      flex: 2;
      padding-right: 10rem; }
    .header-right-title {
      font-family: 'DM Serif Display', serif;
      font-size: 2.5rem;
      font-weight: none;
      font-style: none;
      color: #610C63; }
    .header-right-description {
      line-height: 30px;
      text-align: justify; }
    .header-right-link {
      padding: 0.8rem 2rem;
      color: #610C63;
      background: none;
      border: 1px solid #610C63;
      cursor: pointer;
      transition: all 250ms ease-in;
      max-width: 300px;
      text-align: center;
      border-radius: 9999px; }
      .header-right-link:hover {
        color: #f7f3f3;
        background: #610C63; }
    .header-right-img {
      flex: 1; }
      .header-right-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 10px; }

.footer {
  padding: 5rem;
  background: #810955; }
  .footer-title {
    font-family: 'DM Serif Display', serif;
    font-size: 2.5rem;
    font-weight: none;
    font-style: none;
    margin-bottom: 2rem;
    color: #f7f3f3; }
  .footer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: none; }
  .footer-reseaux {
    flex: 1;
    color: #f7f3f3; }
    .footer-reseaux-list {
      display: flex;
      flex-direction: row;
      justify-content: none;
      align-items: none; }
      .footer-reseaux-list li {
        margin: 0rem 1rem;
        font-size: 1.5rem;
        cursor: pointer;
        transition: all 250ms ease-in; }
        .footer-reseaux-list li:hover {
          transform: scale(1.1); }
  .footer form {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    flex: 1;
    margin: 0rem auto;
    gap: 1rem 0rem; }
    .footer form div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0rem 1rem; }
      .footer form div input {
        flex: 1; }
    .footer form input, .footer form textarea {
      padding: 0.8rem 1rem;
      border: none;
      border-radius: 5px;
      background: #f7f3f3;
      color: #100f0f; }
      .footer form input:focus, .footer form textarea:focus {
        outline: none; }
      .footer form input::placeholder, .footer form textarea::placeholder {
        color: #810955; }
    .footer form textarea {
      height: 100px;
      resize: none; }
    .footer form button {
      padding: 1rem;
      color: #100f0f;
      background: #FFF9D7;
      border: none;
      cursor: pointer;
      transition: all 250ms ease-in;
      width: 40%;
      margin: 0rem auto;
      border-radius: 5px; }

.accueil {
  padding: 5rem;
  background: #FFF9D7; }
  .accueil-cours {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .accueil-cours-left {
      flex: 2;
      text-align: center; }
      .accueil-cours-left-title {
        font-family: 'DM Serif Display', serif;
        font-size: 2rem;
        font-weight: none;
        font-style: none;
        margin-bottom: 1rem; }
    .accueil-cours-right {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: none;
      flex: 1.2;
      height: 450px;
      overflow-y: scroll; }
      .accueil-cours-right-cour {
        position: relative;
        height: 200px;
        margin: 1rem;
        border-radius: 2px;
        box-shadow: 0px 0px 10px -5px #100f0f;
        cursor: pointer; }
        .accueil-cours-right-cour-img {
          position: absolute;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
          border-radius: 2px; }
          .accueil-cours-right-cour-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 2px; }
          .accueil-cours-right-cour-img figcaption {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            padding: 0.5rem 1rem;
            background: #810955;
            color: #f7f3f3;
            border-radius: 5px;
            transform: translate(-50%, -50%); }
        .accueil-cours-right-cour-text {
          display: flex;
          flex-direction: column;
          justify-content: none;
          align-items: center;
          position: absolute;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
          padding: 1rem;
          opacity: 0;
          color: #f7f3f3;
          background: #810955;
          border-radius: 5px;
          text-align: center;
          z-index: 2;
          transition: all 250ms ease; }
          .accueil-cours-right-cour-text-title {
            margin-bottom: 1rem; }
        .accueil-cours-right-cour:hover > .accueil-cours-right-cour-text {
          opacity: 1; }

* {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: none;
  font-weight: none;
  font-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  color: currentColor;
  text-decoration: none; }

li {
  list-style: none; }

/*# sourceMappingURL=index.css.map */
